html * {
  box-sizing: border-box;
  text-align: center;
}

body {
  color: #000;
  font: 400 18px/1.5 "Ubuntu", sans-serif;
}
main {
  background-color: #000; /*temp*/
}

header {
  width: 100%;
  line-height: 80px;
  vertical-align: middle;
  background: #b8b8b8;
}

p {
  font-size: 26px;
  line-height: calc(18px*1.5);
  font-weight: 400;
}
.f-s {
  font-size: 22px;
  line-height: 1.5em;
  font-weight: 700;
}

.f-m {
  font-size: 28px;
  line-height: 2em;
  font-weight: 700;
}

.f-l {
  font-size: 36px;
  line-height: 2.5em;
  font-weight: 900;
}

#top-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#top-menu .box {
  background: #a9a9a9;
  margin: 0 15px;
  min-width: 130px;
  padding-top: 30px;
  height: 80px;
}

#category {
  display: grid;
  grid-template-columns: repeat(5, 140px);
}

#category div {
  background: #a9a9a9;
  width: 110px;
}

header .box-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

header .box-container div {
  width: 100%;
  height: 500px;
}

header .box-container div:nth-child(4n) {
  background: #b4b4b4;
}

header .box-container div:nth-child(4n - 1) {
  background: #b8b8b8;
}

header .box-container div:nth-child(4n - 2) {
  background: #bbb;
}

header .box-container div:nth-child(4n - 3) {
  background: #bfbfbf;
}

main {
  width: 100%;
}

#latest-posts,
#community-links,
#curated-posts {
  width: 100%;
  max-width: 2800px;
  margin: 0 auto;
}

#latest-posts {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

#latest-posts .col-1 {
  width: 100%;
  height: 500px;
}

#latest-posts [class*="col-"] {
}

#latest-posts .col-1:nth-child(4n-1) {
  background-color: #c0c0c0;
}
#latest-posts .col-1:nth-child(4n-2) {
  background-color: #c6c6c6;
}
#latest-posts .col-1:nth-child(4n-3) {
  background-color: #cecece;
}
#latest-posts .col-1:nth-child(4n) {
  background-color: #cacaca;
}

#latest-posts .col-1-2 {
  width: 60%;
  height: 500px;
  background-color: #cdcdcd;
}

#latest-posts .ad-small {
  width: 100%;
  background: #afafaf;
  height: 300px;
}

#latest-posts .ad-medium {
  width: 100%;
  height: 500px;
  background: #acacac;
}

[class*="block-ad-"] {
  width: 100%;
  height: 100px;
  background-color: #a4a4a4;
}

#community-links {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#community-links .col-1-4 {
  width: 100%;
  background-color: #cacaca;
}
#community-links .profile {
  display: grid;
  grid-template-columns: 250px auto;
  background-color: pink;
}
#community-links .col-1-4 .photo {
  background-color: #c7c7c7;
}

#community-links .col-1-4 .text {
  padding: 20px;
  background-color: #cbcbcb;
}
#community-links .text p {
  width: 90%;
}

#community-links [class*="col-"] {
  height: 250px;
  width: 100%;
}
#community-links .col-1:nth-child(4n-1) {
  background: #cecece;
}
#community-links .col-1:nth-child(4n-3) {
  background: #c2c2c2;
}
#community-links .col-1:nth-child(4n-2) {
  background: #c7c7c7;
}
#community-links .col-1:nth-child(4n) {
  background: #cacaca;
}

#curated-posts {
  /*display: block;
  /* display: inline-block;*/
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#curated-posts > * {
  width: 100%;
  height: 300px;
}

#curated-posts .guide:nth-child(4n-3) {
  background-color: #c0c0c0;
}
#curated-posts .guide:nth-child(4n-2) {
  background-color: #c5c5c5;
}
#curated-posts .guide:nth-child(4n-1) {
  background-color: #cacaca;
}
#curated-posts .guide:nth-child(4n) {
  background-color: #cecece;
}
#curated-posts .col-1-4 {
  background-color: #acacac;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #999;
}

@media only screen and (max-width: 1080px) {
  #category {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 740px) {
  header .box-container div {
    width: 50%;
  }
  #latest-posts .col-1 {
    width: 50%;
  }
  #curated-posts .col-1 {
    width: 50%;
  }
  #curated-posts .col-1-4 {
    width: calc(50% * 2);
  }

  #community-links .col-1 {
    width: 50%;
  }
}

@media only screen and (min-width: 1080px) {
  #latest-posts .col-1 {
    width: 33.3%;
  }
  #latest-posts .col-1-2 {
    width: 66.6%;
  }
  #curated-posts .col-1 {
    width: 33.3%;
  }
  #curated-posts .col-1-4 {
    width: calc(33.3% * 2);
  }
  #community-links .col-1-4 .text p {
    width: 70%!important;
  }
}

@media only screen and (min-width: 1440px) {
  header .box-container div {
    width: 33.3%;
  }
  #curated-posts .col-1 {
    width: 25%;
  }
  #curated-posts .col-1-4 {
    width: calc(25% * 4);
  }
}
@media only screen and (min-width: 1600px) {
  header .box-container div {
    width: 25%;
  }
  #latest-posts .col-1 {
    width: 25%;
  }
  #latest-posts .col-1-2 {
    width: 50%;
  }
}
