html * {
  box-sizing: border-box;
  text-align: center;
}

header {
  width: 100%;
  line-height: 80px;
  vertical-align: middle;
}
#top-menu {
  width: 100%;
  background-color: #aff;
  display: flex;
  justify-content: space-around;
}

#top-menu div {
  background: #ccc;
  margin: 0 15px;
  min-width: 130px;
}

#category {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

#category div {
  background: rgb(168, 168, 196);
  width: 110px;
}

header .box-container {
  width: 100%;
  background-color: #af7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

header .box-container div {
  width: 100%;
  height: 500px;
}

header .box-container div:nth-child(4n) {
  background: #cbb;
}

header .box-container div:nth-child(4n - 1) {
  background: #cdd;
}

header .box-container div:nth-child(4n - 2) {
  background: #cbe;
}

header .box-container div:nth-child(4n - 3) {
  background: #cdf;
}

main {
  width: 100%;
}

#latest-posts,
#community-links,
#curated-posts {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background-color: pink;
}

#latest-posts {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

#latest-posts .col-1 {
  width: 100%;
  height: 500px;
  background-color: #aff;
}

#latest-posts [class*='col-'] {
  /*margin: 10px;*/
}

#latest-posts .col-1:nth-child(2n) {
  background-color: #afa;
}

#latest-posts .col-1:nth-child(3n) {
  background-color: #a5a;
}

#latest-posts .col-1-2 {
  width: 60%;
  height: 500px;
  background-color: #aff;
}

#latest-posts .ad-small {
  width: 100%;
  background: #55e;
  height: 300px;
}

#latest-posts .ad-medium {
  width: 100%;
  background: #fae;
  height: 500px;
}

[class*="block-ad-"] {
  width: 100%;
  height: 100px;
  background-color: #eaa;
}

#community-links {
  width: 100%;
  background-color: yellow;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#community-links .col-1-4 {
  width: 100%;
  display: grid;
  grid-template-columns: 100px auto;

}
#community-links .col-1-4 .photo {
  background-color: #aaa;
}

#community-links .col-1-4 .text {
  background-color: #ccc;
}


#community-links [class*='col-'] {
  height: 250px;
  width: 100%;
  background: #bbb;
  margin: 10px;
}

#curated-posts {
  background-color: #ee9;
}
#curated-posts > * {
  display: inline-block;
  width: 100%;
  height: 300px;
}
#curated-posts .guide:nth-child(4n-3) {
  background-color: #999;
}
#curated-posts .guide:nth-child(4n-2) {
  background-color: #aaa;
}
#curated-posts .guide:nth-child(4n-1) {
  background-color: #ddd;
}
#curated-posts .guide:nth-child(4n) {
  background-color: #666;
}
#curated-posts .col-1-4 {
  background-color: #99f;
}

/*
@media only screen and (min-width: 1640px){
  #curated-posts .col-1 {
    width:24%;
  }
  #curated-posts .col-1-4 {
    width: calc(24%*4);
  }
}

@media only screen and (min-width: 1840px){
  #curated-posts .col-1 {
    width:24%;
  }
  #curated-posts .col-1-4 {
    width: calc(24%*4);
  }
}
*/

footer {
  width: 100%;
  height: 100px;
  background-color: #999;
}

@media only screen and (max-width: 1080px) {
  #category {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 740px) {
  header .box-container div {
    width: 50%;
  }
  #latest-posts .col-1 {
    width: 49%;
  }
  #curated-posts .col-1 {
    width: 49%;
  }
  #curated-posts .col-1-4 {
    width: calc(49% * 2);
  }

  #community-links .col-1 {
    width: 45%;
  }
}

@media only screen and (min-width: 1080px) {
  #latest-posts .col-1 {
    width: 33%;
  }
  #curated-posts .col-1 {
    width: 33%;
  }
  #curated-posts .col-1-4 {
    width: calc(33% * 3);
  }
}

@media only screen and (min-width: 1440px) {
  #curated-posts .col-1 {
    width: 24%;
  }
  #curated-posts .col-1-4 {
    width: calc(24% * 4);
  }
}
@media only screen and (min-width: 1600px) {
  #latest-posts .col-1  {
    width: 24%;
  }
}
